## Import Libraries

In [3]:
import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

## Import Dataset

In [5]:
dataset = pd.read_excel("D4-Transformed-Dataset.xlsx")
dataset.head()

,customer_id,gender,past_3_years_bike_related_purchases,wealth_segment,owns_car,tenure,age,state,property_valuation,value
0,2950,0,19,1,1,10,62,3,6,0
1,2950,0,19,1,1,10,62,3,6,1
2,2950,0,19,1,1,10,62,3,6,0
3,3120,1,89,1,1,10,38,2,5,1
4,3120,1,89,1,1,10,38,2,5,1

In [6]:
id_var = dataset.iloc[:, 0].values
x = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

## Encoding Categorical Variable: 'state'

In [7]:
encoder = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [6])], remainder='passthrough')
x = encoder.fit_transform(x)

## Splitting Dataset in Training and Test Set

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

## Training Model: Logistic Regression

In [9]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
reg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Model Evaluation

In [11]:
reg.score(x_test, y_test)

0.5050127442650807