In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_data = pd.read_excel("KPMG-Sprocket.xlsx", "CustomerAddress")

In [3]:
raw_data_first_copy = raw_data.copy()

In [4]:
raw_data.head().transpose()

,0,1,2,3,4
customer_id,1,2,4,5,6
address,060 Morning Avenue,6 Meadow Vale Court,0 Holy Cross Court,17979 Del Mar Point,9 Oakridge Court
postcode,2016,2153,4211,2448,3216
state,New South Wales,New South Wales,QLD,New South Wales,VIC
country,Australia,Australia,Australia,Australia,Australia
property_valuation,10,10,9,4,9

In [5]:
raw_data['state'].unique()

array(['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria'], dtype=object)

In [7]:
feat_encoding_dict = {
    "state": {'New South Wales':2, 'QLD':1, 'VIC':3, 'NSW':2, 'Victoria':3}
}

In [13]:
raw_data = raw_data.replace(feat_encoding_dict)

In [14]:
raw_data = raw_data.drop(['address', 'postcode', 'country'], axis=1)

In [15]:
prep_data = raw_data.copy()
prep_data.head().transpose()

                     0   1  2  3  4
customer_id          1   2  4  5  6
state                2   2  1  2  3
property_valuation  10  10  9  4  9

In [16]:
prep_data.to_csv("Prep-CustomerAddress.csv")